body {
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 25px 0px;
  background: url("../images/Background_Clouds.jpg");
  background-size: 100% 100%;
}
.card {
  background-image: linear-gradient(to top, ##eaeae8 0%, #eef1f5 100%);
  border-color: #e0eff3;
  max-width: 710px;
  margin: 0px auto;
}
h1 {
  text-transform: uppercase;
  color: #588790;
  text-align: center;
  line-height: 1.5;
  padding: 20px 0 10px;
  margin: 0;
}
h2 {
  text-transform: capitalize;
}
button {
  position: absolute;
  top: 128px;
  right: 55px;
  border: 1px solid #588790;
  background: white;
  border-radius: 10px;
  transition: all 200ms ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
button:hover {
  color: #588790;
  border: 4px double #588790;
}

input::placeholder {
  font-size: 25px;
}
.form-control {
  padding: 18px;
}
.search {
  position: relative;
  padding: 20px 70px 40px;
  font-size: 30px;
}
.search input {
  border: 1px solid #588790;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
}
.search .fa-search {
  position: absolute;
  right: 140px;
  top: 35px;
}
h2 {
  display: inline;
  font-size: 30px;
}

.fa-map-marker-alt {
  font-size: 30px;
  color: #376edd;
  padding: 10px;
}

li {
  list-style-type: none;
}
#description {
  position: absolute;
  top: 288px;
  right: 133px;
}
.units {
  vertical-align: 50%;
}

.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

.row-location {
  text-align: left;
  padding: 0 100px;
  font-size: 16px;
}
.row-wind {
  text-align: center;
  font-size: 18px;
  padding: 10px 140px 0;
}

p {
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-size: 25px;
  font-weight: 700;
  padding: 20px 0;
  color: #588790;
  border-top: 4px double #588790;
  border-bottom: 4px double #588790;
  margin: 20px 100px 40px;
}

.future {
  text-transform: uppercase;
  color: #588790;
  padding: 10px;
  border-bottom: 2px solid #588790;
  margin: 0 200px;
}

.row-forecast {
  font-size: 20px;
  display: inline;
  text-align: center;
  display: inline-block;
  margin: 0 0 10px 50px;
}

.footer {
  text-align: center;
}
